/* Login.css */
.text-center {
    text-align: center;
  }
  
  .mb-4 {
    margin-bottom: 1.5rem;
  }
  
  .w-100 {
    width: 100%;
  }

  html, body {
    height: 100%;
    margin: 0;
  }
  
  .container-fluid {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
   background-color: #0A323C;
  }

  .btn {
    background-color: #0A323C;
  }
  .btn:hover {
    background-color: #091428;
  }

  .card-body {
    background-color: #F0E6D2;
  }